@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.data-footnote-backref {
  @apply no-underline;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html,
.lightbox-overlay {
  /* margin-left: calc(100vw - 100%); */
  width: 100vw;
}

html.prevent-scroll {
  overflow-y: hidden;
}
html.lightbox-loading,
html.lightbox-loading * {
  cursor: wait !important;
}

* {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.thumbnail-image img {
  border-radius: 10px;
}

@media (min-width: 640px) {
  .thumbnail-image {
    margin: 0 -20px;
  }
}
@media (min-width: 768px) {
  .thumbnail-image {
    margin: 0 -40px;
  }
}
@media (min-width: 1024px) {
  .thumbnail-image {
    margin: 0 -130px;
  }
}
@media (min-width: 1366px) {
  .thumbnail-image {
    margin: 0 -150px;
  }
}
